.postsContainer {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  margin-top: 80px;
  min-height: 80vh;
}

.postsContainerInner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.noPostFound{
  text-align: center;
  margin-top: 80px;
}

.loaderContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.allPostsHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.postsContainerInner h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.postsContainer a {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 8px;
  padding: 15px;
  text-decoration: none;
  color: #333;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  height: 400px;
}

.postsContainer a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.postsContainer h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #222;
}

.postsContainer img {
  width: 100%;
  height: 200px; /* Fixed height for consistency */
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.postsContainer p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.postsContainer p.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 5px;
}
.postsContainer p span {
  display: block;
  font-size: 0.9rem;
  color: #777;
}

@media (max-width: 768px) {
  .postsContainer {
    grid-template-columns: 1fr; /* Single column layout on small screens */
  }
}
