/* Footer */
.footer {
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 32px 0 70px 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-bottom: 100px;
  }
}
  
