/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.164)),
    url("/images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 80vh;
}

.hero h2 {
  font-size: 5rem;
  font-weight: bold;
}

.hero p {
  margin-top: 10px;
  font-size: 2rem;
}

.hero a {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.726);
  color: #08132b;
  padding: 12px 24px;
  font-size: 2rem;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.hero a:hover {
  background: #e5e7eb;
}

@media screen and (max-width: 768px) {
  .hero h2 {
    font-size: 3.5rem;
  }

  .hero p {
    font-size: 1.5rem;
  }

  .hero a {
    font-size: 1.5rem;
  }

}